@font-face {
  font-family: 'KissMeorNot';
  src: url('../fonts/KissMeorNot/KissMeorNot.eot');
  src: url('../fonts/KissMeorNot/KissMeorNot.woff2') format('woff2'),
       url('../fonts/KissMeorNot/KissMeorNot.woff') format('woff'),
       url('../fonts/KissMeorNot/KissMeorNot.ttf') format('truetype'),
       url('../fonts/KissMeorNot/KissMeorNot.svg#KissMeorNot') format('svg'),
       url('../fonts/KissMeorNot/KissMeorNot.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PetitaLight';
  src: url('../fonts/PetitaLight/PetitaLight.eot');
  src: url('../fonts/PetitaLight/PetitaLight.woff2') format('woff2'),
       url('../fonts/PetitaLight/PetitaLight.woff') format('woff'),
       url('../fonts/PetitaLight/PetitaLight.ttf') format('truetype'),
       url('../fonts/PetitaLight/PetitaLight.svg#PetitaLight') format('svg'),
       url('../fonts/PetitaLight/PetitaLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PetitaMedium';
  src: url('../fonts/PetitaMedium/PetitaMedium.eot');
  src: url('../fonts/PetitaMedium/PetitaMedium.woff2') format('woff2'),
       url('../fonts/PetitaMedium/PetitaMedium.woff') format('woff'),
       url('../fonts/PetitaMedium/PetitaMedium.ttf') format('truetype'),
       url('../fonts/PetitaMedium/PetitaMedium.svg#PetitaMedium') format('svg'),
       url('../fonts/PetitaMedium/PetitaMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.pink-bg {background-color: rgba(255, 182, 193, 1);}
.yellow-bg {background-color: rgba(255, 255, 224, 1);}
.blue-bg {background-color: rgba(205, 230, 238, 1);}
.green-bg {background-color: rgba(192, 240, 192, 1);}

.kissme { font-family:'KissMeorNot', cursive; color:#EB795E; font-size:82px; line-height:82px; white-space:nowrap;  }
.line2 { font-family:'Montserrat-SemiBold'; font-size:26px; line-height: 26px; }
.line3 { font-size: 30px;font-family: 'Montserrat-Light';line-height: 30px; }

body {font-family:'PetitaLight', sans-serif; }
header { text-align: center; }
.lead {
  font-family:'PetitaMedium', sans-serif;
}
.logo { width:250px; }
#fullBG {
  position: fixed; top:0; left:0; overflow: visible; opacity:1;
  z-index: 1; width:100%; height:100%;
}
#fullBG img { height:100vh; }

#fullBG, .lightBoxContainer {
	background: linear-gradient(-45deg, rgba(255, 182, 193, 1), rgba(255, 255, 224, 1), rgba(205, 230, 238, 1), rgba(192, 240, 192, 1));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

#master {
  position:relative;
  z-index: 2;
  min-height:100vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.ampersand { font-family:'PetitaLight', sans-serif;; font-weight:100;}
.sectionDetail {
  position: absolute;
  display: none;
  width:0; height:0; visibility: hidden;
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease; /* IE10 is actually unprefixed */
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.sectionDetail .textBlock { opacity: 0; height:100%;
  -webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease; /* IE10 is actually unprefixed */
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.sectionDetail.expand {
  display: block;
  visibility: visible;
  width:95%;
  height:95%;
  top:2%; bottom:2%;
  left:2%; right:2%;
}
.sectionDetail.expanded .textBlock { opacity:1;}

.sectionDetail .pink-bg {background-color: rgba(255, 182, 193, .90); height: 100%;  }
.sectionDetail .yellow-bg {background-color: rgba(255, 255, 224, .90); height: 100%; }
.sectionDetail .blue-bg {background-color: rgba(205, 230, 238, .90); height: 100%; }
.sectionDetail .green-bg {background-color: rgba(192, 240, 192, .90); height: 100%; }

.sectionCta .pink-bg {background-color: rgba(255, 182, 193, .5); }
.sectionCta .yellow-bg {background-color: rgba(255, 255, 224, .5); }
.sectionCta .blue-bg {background-color: rgba(205, 230, 238, .5); }
.sectionCta .green-bg {background-color: rgba(192, 240, 192, .5); }

.sectionCta { text-align: center; font-family:'PetitaMedium', sans-serif;}
.sectionCta .container { text-align: center;}
.sectionCta .row { position: relative; }
.sectionCta .block { height: 100%; }
.sectionCta a {text-decoration: none; outline:0 none; color:inherit;}
.arrowIcon { height:30px; display: inline-block;
  -webkit-transition: transform 0.7s ease;
	-moz-transition: transform 0.7s ease;
	-ms-transition: transform 0.7s ease; /* IE10 is actually unprefixed */
	-o-transition: transform 0.7s ease;
	transition: transform 0.7s ease;
}
.sectionCta:hover .arrowIcon  {transform:rotate(-45deg);}

.sectionDetail .arrowIcon { height:25px; transform:rotate(0deg); }
.sectionDetail:hover .arrowIcon { transform:rotate(-45deg); }

.sectionIcon { width: 100%;
    text-align: center;
    display: block;
    max-width: 300px;
    margin: auto; }

.sectionBg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  opacity: .03;
  top: 0;
  bottom: 0;
}

.imageGroup {
     display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
    flex-flow: row wrap;
		text-align: center;
    width:100%;
    flex-wrap:wrap;
		justify-content:space-around;
		align-items:center;
		align-content:space-around;
}
.imageItem {
	display: inline-block;
}
.primaryItem {
		flex-grow: 1;
    display: block;
		width:100%;
		justify-content:center;	align-content:center;
}
.primaryItem img { width:100%;}
